@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

/* Toastify fix for mobile */
.Toastify__toast-container {
  padding-top: env(safe-area-inset-top) !important;
  top: 0 !important;
}

.Toastify__toast {
  width: 95% !important;
  margin: 10px auto !important;
  border-radius: 12px !important;
}

/* Prevent overflow clipping */
html,
body {
  overflow-x: hidden;
}
