@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

/* Make Toastify mobile friendly */
.Toastify__toast-container {
  width: 90% !important;
  max-width: 360px;
}

@media (max-width: 480px) {
  .Toastify__toast-container {
    left: 50% !important;
    transform: translateX(-50%);
    padding: 0;
  }

  .Toastify__toast {
    border-radius: 12px !important;
    font-size: 15px !important;
    padding: 12px 16px !important;
  }
}
